<h1>Editing m_assessment_take</h1>

<% form_for(@m_assessment_take) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :m_assessment_id %><br />
    <%= f.text_field :m_assessment_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @m_assessment_take %> |
<%= link_to 'Back', m_assessment_takes_path %>