<p>
  <b>User:</b>
  <%=h @m_assessment_take.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @m_assessment_take.m_assessment.name %>
</p>
  <table>
	<tr>
	  <th>Questions</th>
	  <th>your answers</th>
	</tr>
    <% @m_assessment_take.m_question_takes.each do |qt| %>
	  <tr>
	    <td><%=h qt.m_question.body %></td>
	      <%qt.m_answer_takes.each do |a|%>
		<td>Answer: <%=h a.m_answer.body %></td>
	      <%end%>
	  </tr>
    <%end%>
  </table>


<%= link_to 'Edit', edit_m_assessment_take_path(@m_assessment_take) %> |
<%= link_to 'Back', m_assessment_takes_path %>