<%if session[:user] then%>
  <p>Welcome <%=@user.firstname%> to <%=@user.group.name%>'s Launch360 page</p>
  <%= link_to 'logout', :action => 'logout' %>

  <h2><%=@user.group.greeting%></h2>

  <p>Your assesments will be displayed here:</p>
  <table>
    <tr>
      <th>Name</th>
      <th>description</th>
    </tr>
    <% @user.m_assessment_takes.each do |a| %>
      <tr>
	<td><%=h a.m_assessment.name %></td>
	<td><%=h a.m_assessment.description %></td>
	<td><%= link_to 'View....(not implemented yet)', a%></td>
      </tr>
    <%end%>
  </table>


  <p>Your group's assessments are here:</p>
  <!-- Build you groups assessment table here -->
  <table>
    <tr>
      <th>Name</th>
      <th>description</th>
    </tr>
    <% @user.group.m_assessments.each do |a| %>
      <tr>
	<td><%=h a.name %></td>
	<td><%=h a.description %></td>
	<td><%= link_to 'Start New', a%></td>
      </tr>
    <%end%>
  </table>



<%else%>

	<p>Welcome to LAUNCH Tools - a creative collection of resources for young
		Christian leaders. Our hope is that your time spent on this site proves to
		be both fun and rewarding!</p>
	<p>The three main areas of this site were created for a unique purpose. The
		assessments will help you better understand yourself. The learning modules
		will help you grow. DreamLAUNCH(tm) will help you put your leadership into 
		practice as you design a strategic plan for a brand new program or event.
		Enjoy!</p>
	<p>LAUNCH Tools is a resource of LAUNCH - a leadership program of Youth
		Unlimited (Toronto YFC)</p>
  <p><%=link_to "Sign In to Get Started!", :action => "login" %></p>
  
<%end%>



